.type-414 {
    font-family: PT Serif;
    margin: 30px 0;
}
.type-414 .alert {
    margin-bottom: 0;
}
.type-414 hr.message-inner-separator {
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.add-new a:hover {
    text-decoration: none;
    font-weight: bold;
}
.add-new a{
    color: #f4645f;
    font-size: 11px;
    font-style: italic;
}

.pexcel-edit {
    background-color: #edb96f !important;
    border-color: #edb96f !important;
}

.pexcel-delete{
    background-color: #e75f5a !important;
    border-color: #e75f5a !important;
}

.item_right {
    float: right;
    font-size: 10px;
}